Repository vispy/vispy, pull requests merged in 2020-05, with the labels that each got.

#1864 Fix styling issues due to new flake8 version
  examples/basics/visuals/grid_mesh.py
  examples/offscreen/simple_osmesa.py
  setup.cfg
  vispy/geometry/isocurve.py
  vispy/testing/__init__.py
  vispy/visuals/collections/array_list.py
  vispy/visuals/graphs/graph.py
  vispy/visuals/transforms/linear.py
Labels: code-quality

#1863 Allow for 2D X and Y coordinates in SurfacePlotVisual
  .travis.yml
  examples/basics/visuals/axially_symmetric_surfaces.py
  vispy/visuals/surface_plot.py
Labels: component: visuals, type: enhancement

#1866 Fix jupyter lab extension to use newest vispy.js
  vispy/app/backends/ipython/_widget.py
Labels: type: enhancement, web-backend
