Repository vispy/vispy, pull requests merged in 2020-04, with the labels that each got.

#1853 Fix ImageVisual updating vertex coordinates on every draw
  vispy/visuals/image.py
  vispy/visuals/tests/test_image.py
Labels: component: visuals, type: bug

#1705 Add lines_adjacency and line_strip_adjacency OpenGL primitives.
  vispy/gloo/glir.py
  vispy/gloo/program.py
Labels: type: enhancement

#1670 Allow changing spectrogram parameters after it has been drawn
  vispy/plot/plotwidget.py
  vispy/visuals/spectrogram.py
  vispy/visuals/tests/test_spectrogram.py
Labels: component: visuals, type: enhancement

#1792 Make all AxisVisual parameters easily updatable after instantiation
  vispy/visuals/axis.py
  vispy/visuals/visual.py
Labels: component: visuals, type: enhancement

#1693 Add ability to pass webGL context arguments for notebook backend canvas initialization
  vispy/app/backends/_ipynb_webgl.py
  vispy/app/backends/ipython/_widget.py
  vispy/app/canvas.py
Labels: type: enhancement
