Repository vispy/vispy, pull requests merged in 2020-03, with the labels that each got.

#1774 Fixup decorator to enable full use of pytest.
  .travis.yml
  azure-pipelines.yml
  vispy/gloo/tests/test_glir.py
  vispy/plot/tests/test_plot.py
  vispy/testing/_testing.py
Labels: build

#1775 Update tests to use pytest better
  appveyor.yml
  azure-pipelines.yml
  vispy/testing/_testing.py
Labels: build

#1802 Remove isosurface green color in VolumeVisual
  vispy/visuals/volume.py
Labels: component: visuals, type: enhancement

#1794 Add "transparent" color to internal color_dict
  vispy/color/_color_dict.py
Labels: component: color, type: enhancement

#1843 Add MacOS 10.14 and manylinux2014 wheel builds
  azure-pipelines.yml
Labels: build

#1807 Fix LinePlotVisual not remembering styles
  vispy/visuals/line_plot.py
Labels: component: visuals, type: bug

#1824 Use meshio fall back for reading and writing mesh files
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
  setup.py
  vispy/io/mesh.py
  vispy/io/tests/test_io.py
Labels: component: io, type: enhancement

#1844 Add ImageVisual gamma and smarter in-shader contrast limits
  vispy/visuals/image.py
  vispy/visuals/tests/test_image.py
Labels: component: visuals, type: enhancement
