Repository vispy/vispy, pull requests merged in 2021-08, with the labels that each got.

#2142 Jupyter widget based on jupyter_rfb
  ci/requirements/linux_full_deps_pip.txt
  examples/ipynb/Rotating Cube.ipynb
  vispy/app/application.py
  vispy/app/backends/__init__.py
  vispy/app/backends/_jupyter_rfb.py
  vispy/app/backends/_offscreen_util.py
  vispy/app/backends/tests/test_offscreen_util.py
  vispy/app/backends/tests/test_rfb.py
  vispy/app/base.py
  vispy/app/canvas.py
  vispy/gloo/glir.py
  vispy/plot/tests/test_plot.py
  vispy/scene/canvas.py
Labels: component: app, component: jupyter-widget-webgl-backend, type: enhancement, type: performance

#2164 Remove 'VNC' backend
  vispy/app/backends/__init__.py
  vispy/app/backends/_ipynb_static.py
  vispy/app/backends/_ipynb_vnc.py
  vispy/util/wrappers.py
Labels: type: enhancement, component: app

#2169 Switch to cibuildwheel github action and skip 3.10 wheel building
  .github/workflows/wheels.yml
Labels: build

#2116 Add clipping planes to `VolumeVisual`
  examples/scene/volume_clipping.py
  vispy/visuals/volume.py
Labels: type: enhancement, component: visuals

#2149 Rendering arbitrary planes in the `VolumeVisual`
  examples/scene/volume_plane.py
  vispy/visuals/volume.py
Labels: type: enhancement, component: visuals

#2175 Fix minor bug in volume_clipping.py example
  examples/scene/volume_clipping.py
Labels: type: bug, type: example

#2179 Fix volume_plane.py example not having a toggle for the animation
  examples/scene/volume_plane.py
Labels: type: bug, type: example

#2185 Fix python version check for python > 3.9
  vispy/util/ptime.py
Labels: type: bug, code-quality, component: util, build
