Repository vispy/vispy, pull requests merged in 2021-06, with the labels that each got.

#2042 Fix changing mesh shading mode when initially None
  vispy/visuals/filters/mesh.py
  vispy/visuals/mesh.py
  vispy/visuals/tests/test_mesh.py
Labels: type: bug

#2043 Add more options to control the length of normals in MeshNormals visual
  vispy/visuals/mesh.py
  vispy/visuals/mesh_normals.py
  vispy/visuals/tests/test_mesh.py
  vispy/visuals/tests/test_mesh_normals.py
Labels: component: visuals, type: enhancement

#2046 Add minimum intensity projection (minip) shading to `VolumeVisual`
  vispy/visuals/volume.py
Labels: component: visuals, type: enhancement

#2050 Fix dead link in shader docstring
  vispy/glsl/math/double.glsl
Labels: code-quality, docs-website

#2051 Fix typo in double shader
  vispy/glsl/math/double.glsl
Labels: type: bug

#2022 Fix axis labeling issue when flipped
  vispy/visuals/axis.py
  vispy/visuals/tests/test_axis.py
Labels: component: visuals, type: bug

#2028 Fix various issues with shading in the MeshVisual
  examples/basics/scene/mesh_shading.py
  vispy/visuals/filters/mesh.py
Labels: component: visuals, type: bug

#2047 Add attenuated MIP (attenuated_mip) rendering mode to `VolumeVisual`
  vispy/visuals/volume.py
Labels: component: visuals, type: enhancement

#2058 Dont force selection of gl2 backend
  vispy/gloo/gl/__init__.py
  vispy/gloo/gl/gl2.py
  vispy/gloo/glir.py
Labels: component: gl, type: bug

#2060 Remove unused py2/3 compatibility module
  vispy/ext/_bundled/_mpl_py3k_compat.py
Labels: code-quality

#2061 Rename all HUSL usages to HSLuv
  ci/requirements/linux_full_deps_conda.txt
  ci/requirements/linux_min_deps_conda.txt
  ci/requirements/linux_osmesa_deps_conda.txt
  setup.py
  vispy/color/colormap.py
  vispy/ext/_bundled/husl.py
  vispy/ext/husl.py
Labels: code-quality

#2059 Fix glfw not sizing visuals correctly on initial draw
  vispy/app/backends/_glfw.py
Labels: component: app, type: bug

#2063 make agg lines write correct depth value
  vispy/glsl/lines/agg.vert
  vispy/visuals/line/line.py
Labels: component: visuals, type: bug

#1590 Fix event loop detection triggering on blocked events
  vispy/util/event.py
  vispy/util/tests/test_event_emitter.py
Labels: type: bug, type: performance

#2057 Add setter for colorbar label text
  examples/basics/visuals/colorbar_visual.py
  examples/basics/visuals/colorbar_visual_types.py
  vispy/scene/widgets/colorbar.py
  vispy/scene/widgets/tests/__init__.py
  vispy/scene/widgets/tests/test_colorbar.py
  vispy/visuals/colorbar.py
  vispy/visuals/tests/test_colorbar.py
Labels: component: visuals, type: enhancement

#2029 Identify and expose Phong shading parameters in mesh ShadingFilter
  examples/basics/scene/mesh_shading.py
  vispy/visuals/filters/mesh.py
  vispy/visuals/tests/test_mesh.py
Labels: component: visuals, type: enhancement

#1714 Check for GUI eventloop when testing for jupyter kernel
  vispy/app/_detect_eventloop.py
  vispy/app/application.py
Labels: type: enhancement

#1501 Replace Grid Widget cassowary solver with kiwisolver
  ci/requirements/linux_full_deps_conda.txt
  ci/requirements/linux_min_deps_conda.txt
  setup.py
  vispy/ext/_bundled/cassowary/__init__.py
  vispy/ext/_bundled/cassowary/edit_info.py
  vispy/ext/_bundled/cassowary/error.py
  vispy/ext/_bundled/cassowary/expression.py
  vispy/ext/_bundled/cassowary/simplex_solver.py
  vispy/ext/_bundled/cassowary/tableau.py
  vispy/ext/_bundled/cassowary/utils.py
  vispy/ext/cassowary.py
  vispy/scene/cameras/tests/test_perspective.py
  vispy/scene/widgets/grid.py
Labels: type: enhancement, type: performance

#2040 Prevent translucent window with QOpenGLWidget
  vispy/app/backends/_qt.py
  vispy/gloo/tests/test_glir.py
Labels: component: app, type: bug

#2070 Fix VolumeVisual bounds representing the wrong axis
  vispy/visuals/tests/test_volume.py
  vispy/visuals/volume.py
Labels: component: visuals, type: bug

#2066 Change builtin colormaps to all be instances
  vispy/color/colormap.py
  vispy/visuals/tests/test_colormap.py
Labels: code-quality, component: color, type: enhancement

#1912 Add 'texture_format' kwarg to VolumeVisual for floating point textures
  examples/basics/scene/volume.py
  vispy/gloo/texture.py
  vispy/testing/image_tester.py
  vispy/testing/rendered_array_tester.py
  vispy/testing/tests/test_networkx_layout.py
  vispy/visuals/_scalable_textures.py
  vispy/visuals/graphs/tests/test_networkx_layout.py
  vispy/visuals/image.py
  vispy/visuals/tests/test_image.py
  vispy/visuals/tests/test_volume.py
  vispy/visuals/volume.py
Labels: component: visuals, type: enhancement

#2079 Fix PanZoomCamera 'center' property not updating view
  vispy/scene/cameras/panzoom.py
  vispy/scene/cameras/tests/test_perspective.py
Labels: code-quality, component: scene, type: bug

#2088 Restore ambient light behavior as in v0.6.0
  vispy/visuals/filters/mesh.py
Labels: component: visuals

#2084 Document OpenGL state presets
  vispy/gloo/wrappers.py
  vispy/visuals/visual.py
Labels: docs-website

#2089 Fix SceneCanvas Node leaking reference to itself
  vispy/scene/node.py
Labels: code-quality, component: scene, type: performance

#2096 Add apt update to CI environment
  .github/workflows/main.yml
Labels: build

#2090 Fix alpha handling in 'translucent' Visuals and add 'alpha' keyword argument to Canvas.render
  vispy/app/canvas.py
  vispy/app/tests/test_canvas.py
  vispy/gloo/wrappers.py
  vispy/scene/canvas.py
  vispy/scene/tests/test_canvas.py
Labels: component: gloo, component: scene, component: visuals, type: bug

#2100 Fix grid solver not updating variables when height/width changed
  vispy/scene/widgets/grid.py
Labels: component: plot, type: bug

#2091 Improve specular light in phong shading
  vispy/visuals/filters/mesh.py
  vispy/visuals/tests/test_mesh.py
Labels: component: visuals, type: enhancement

#2110 Fix inconsistent picking behavior regarding depth testing
  vispy/scene/tests/test_canvas.py
  vispy/scene/widgets/widget.py
  vispy/visuals/mesh.py
Labels: component: scene, priority: high, type: bug

#2105 Refactor ImageVisual for easier subclassing
  vispy/visuals/image.py
  vispy/visuals/tests/test_image.py
Labels: code-quality, component: visuals

#2111 Change Visual GL state so it is only set if drawing
  vispy/visuals/visual.py
Labels: component: gloo, component: visuals, type: bug, type: performance

#2115 Do not refine mip/minip if nothing was found
  vispy/visuals/volume.py
Labels: component: visuals, type: bug

#2119 Replace CI environment variable checks with constants
  vispy/app/tests/test_app.py
  vispy/app/tests/test_context.py
  vispy/app/tests/test_simultaneous.py
  vispy/gloo/tests/test_use_gloo.py
  vispy/testing/__init__.py
  vispy/testing/_runners.py
  vispy/testing/_testing.py
  vispy/testing/image_tester.py
  vispy/visuals/tests/test_arrows.py
Labels: code-quality

#2106 Add handling of NaNs in ImageVisual
  vispy/visuals/image.py
  vispy/visuals/tests/test_image.py
Labels: type: enhancement
