Repository vispy/vispy, pull requests merged in 2021-05, with the labels that each got.

#1463 Add ShadingFilter for meshes by separating it from MeshVisual
  examples/basics/scene/mesh_shading.py
  examples/basics/scene/mesh_texture.py
  examples/basics/visuals/mesh.py
  examples/basics/visuals/tube.py
  vispy/visuals/filters/__init__.py
  vispy/visuals/filters/mesh.py
  vispy/visuals/mesh.py
  vispy/visuals/tests/test_mesh.py
Labels: component: visuals, type: enhancement

#2025 Add ability to show only a mesh wireframe with the wireframe filter
  examples/basics/scene/mesh_shading.py
  vispy/visuals/filters/__init__.py
  vispy/visuals/filters/base_filter.py
  vispy/visuals/filters/mesh.py
  vispy/visuals/tests/test_mesh.py
Labels: component: visuals, type: enhancement

#2026 Add the ability to make the wireframe transparent with the wireframe filter
  examples/basics/scene/mesh_shading.py
  vispy/visuals/filters/mesh.py
  vispy/visuals/tests/test_mesh.py
Labels: component: visuals, type: enhancement

#2027 Fix face normal in cube geometry (create_cube function)
  examples/basics/gloo/rotate_cube.py
  vispy/geometry/generation.py
Labels: component: util, type: bug

#2032 Fix URL to contributor guide
  CONTRIBUTING.md
Labels: docs-website

#2031 Add visual for displaying mesh normals
  examples/basics/scene/mesh_normals.py
  vispy/scene/visuals.py
  vispy/visuals/__init__.py
  vispy/visuals/mesh_normals.py
  vispy/visuals/tests/test_mesh.py
Labels: component: visuals, type: enhancement

#2036 Adapt mesh examples for gallery image generation
  examples/basics/scene/mesh_shading.py
  examples/basics/scene/mesh_texture.py
Labels: build, code-quality

#2038 Fix website deploy commit message references
  .github/workflows/main.yml
Labels: docs-website
