Repository vispy/vispy, pull requests merged in 2021-09, with the labels that each got.

#2205 Fix key event handling in Tk backend
  vispy/app/backends/_tk.py
Labels: type: bug, component: app

#2193 Add skinny cross marker (++) to MarkersVisual
  vispy/visuals/markers.py
Labels: type: enhancement, component: visuals

#2190 set gl_FragDepth in volume visual iso rendering
  vispy/visuals/volume.py
Labels: type: enhancement, component: visuals

#2217 Cleanup some refs to webgl
  vispy/app/canvas.py
  vispy/gloo/glir.py
  vispy/util/wrappers.py
  vispy/visuals/image.py
  vispy/visuals/line/line.py
  vispy/visuals/text/text.py
  vispy/visuals/volume.py
Labels: type: bug, code-quality, component: app, component: visuals

#2209 Spherical (3D-looking) `Markers` symbols
  examples/scene/marker_spheres.py
  vispy/visuals/graphs/graph.py
  vispy/visuals/markers.py
Labels: type: enhancement, component: visuals

#2197 Add PlanesClipper filter for visually clipping visuals by a 2D plane
  examples/scene/clipping_planes.py
  examples/scene/volume_clipping.py
  vispy/visuals/filters/clipping_planes.py
  vispy/visuals/volume.py
Labels: type: enhancement, component: visuals

#2215 Use glfw wrapper from the 3rd party pyGLFW library
  vispy/app/backends/_glfw.py
  vispy/ext/glfw.py
Labels: type: enhancement, code-quality, component: app, build

#2223 Fix integer division when creating directed graphs
  vispy/visuals/graphs/util.py
Labels: type: bug, component: visuals

#2224 Fix warnings generated while building and uploading to PyPI
  MANIFEST.in
  setup.py
Labels: build
