Repository vispy/vispy, pull requests merged in 2021-07, with the labels that each got.

#2125 Update light direction
  examples/basics/scene/mesh_shading.py
  examples/basics/scene/mesh_texture.py
Labels: type: bug, type: example

#2126 Make meshes upright and face the camera in mesh examples
  examples/basics/scene/mesh_shading.py
  examples/basics/scene/mesh_texture.py
Labels: type: example

#2131 Fix auto clim calculation of all data is non-finite
  vispy/visuals/_scalable_textures.py
  vispy/visuals/tests/test_scalable_textures.py
Labels: component: gloo, type: bug

#2134 Set stacklevel for colormap deprecation.
  vispy/color/colormap.py
  vispy/visuals/mesh.py
Labels: code-quality

#2137 Fix for Apple Silicon M1 (arm64)
  vispy/ext/cocoapy.py
Labels: build, priority: high, type: bug

#2140 Fix scalable textures clim_normalized when auto clims are used
  vispy/visuals/_scalable_textures.py
  vispy/visuals/image.py
  vispy/visuals/tests/test_image.py
  vispy/visuals/tests/test_scalable_textures.py
Labels: component: visuals, type: bug

#2144 Add filter keyword arguments to subclassed filters
  vispy/visuals/filters/color.py
Labels: component: visuals, type: bug

#2150 Fix `VolumeVisual.cmap` setter not working for most colormaps
  vispy/visuals/tests/test_volume.py
  vispy/visuals/volume.py
Labels: component: visuals, priority: high, type: bug

#2117 Migrate from string formatting to template ($) variables in VolumeVisual shaders
  vispy/visuals/volume.py
Labels: code-quality, component: visuals, type: enhancement

#2160 Refactor texture_lut() Colormap method to BaseColormap for cleaner usage
  vispy/color/colormap.py
  vispy/visuals/colorbar.py
  vispy/visuals/image.py
  vispy/visuals/line/line.py
  vispy/visuals/mesh.py
  vispy/visuals/volume.py
Labels: code-quality, component: color, component: visuals, type: enhancement
