Repository vispy/vispy, pull requests merged in 2022-07, with the labels that each got.

#2353 Fix a few comment and docstring typos
  doc/installation.rst
  examples/gloo/animate_shape.py
  vispy/io/image.py
  vispy/util/wrappers.py
  vispy/visuals/collections/array_list.py
  vispy/visuals/collections/base_collection.py
  vispy/visuals/visual.py
Labels: docs-website

#2361 `Markers`: allow setting `symbol` on individual basis
  examples/basics/visuals/rescalingmarkers.py
  examples/scene/point_cloud.py
  vispy/visuals/graphs/graph.py
  vispy/visuals/markers.py
Labels: type: enhancement, component: visuals

#2359 Fix marker size with anisotropic scaling
  vispy/visuals/markers.py
Labels: type: bug, component: visuals
