Repository vispy/vispy, pull requests merged in 2022-01, with the labels that each got.

#2286 Remove 32-bit linux wheel builds
  .github/workflows/wheels.yml
Labels: build, priority: high

#2285 Fix numpy error with array edge_width in Markers
  vispy/visuals/markers.py
  vispy/visuals/tests/test_markers.py
Labels: type: bug, component: visuals

#2284 Fix touch event handling issue for Qt6-based backends
  vispy/app/backends/_qt.py
Labels: type: bug, component: app
