Repository vispy/vispy, pull requests merged in 2022-11, with the labels that each got.

#2378 Instance rendering in gloo.
  examples/gloo/colored_cube_instanced.py
  examples/scene/instanced_quad_visual.py
  vispy/gloo/buffer.py
  vispy/gloo/glir.py
  vispy/gloo/program.py
  vispy/gloo/tests/test_program.py
Labels: type: enhancement, type: example, component: gloo

#2417 Scale values when calculating attenuation in attenuated_mip shader
  vispy/visuals/volume.py
Labels: type: bug, type: enhancement, component: visuals

#2419 Add dependabot for GitHub Actions
  .github/dependabot.yml
  .github/workflows/main.yml
Labels: code-quality, build

#2413 switch to newer python for ci
  .github/workflows/main.yml
  ci/requirements/linux_full_deps_conda.txt
  ci/requirements/linux_full_newqtdeps_conda.txt
  ci/requirements/py310.yml
  ci/requirements/py38.yml
Labels: build

#2428 Fix: bug with new Markers.symbol and empty data
  vispy/visuals/markers.py
  vispy/visuals/tests/test_markers.py
Labels: type: bug, component: visuals
