Repository vispy/vispy, pull requests merged in 2022-10, with the labels that each got.

#2376 New instanced rendering example
  ci/requirements/linux_website_deps_pip.txt
  examples/gloo/colored_cube.py
  examples/gloo/gl/README.rst
  examples/gloo/gl/cube.py
  examples/gloo/gl/fireworks.py
  examples/gloo/gl/quad.py
  examples/gloo/gl/quad_instanced.py
  examples/gloo/lighted_cube.py
  examples/gloo/outlined_cube.py
  examples/gloo/texture_precision.py
  examples/gloo/textured_cube.py
  examples/gloo/textured_quad.py
Labels: type: example, component: gl, component: gloo

#2397 Add governance and steering committee information to README
  README.rst
  ci/requirements/linux_full_newqtdeps_pip.txt
Labels: docs-website

#2382 Fix custom image interpolation kernels to work with negative numbers
  examples/scene/image_custom_kernel.py
  vispy/visuals/image.py
  vispy/visuals/tests/test_image.py
Labels: type: bug, component: visuals

#2383 clipping planes performance: do not create a new function willy nilly
  vispy/visuals/filters/clipping_planes.py
Labels: type: enhancement, component: visuals, type: performance

#2411 Improve PySide6 Support: swapBehavior for DoubleBuffer, BUTTONMAP as pyqt6, xfail test_context
  vispy/app/backends/_qt.py
  vispy/app/tests/test_context.py
Labels: type: bug, component: app

#2412 Allow 180 fov and clarify docstring
  vispy/scene/cameras/base_camera.py
  vispy/scene/cameras/turntable.py
Labels: code-quality, docs-website
