Repository vispy/vispy, pull requests merged in 2022-04, with the labels that each got.

#2317 Expand docs on panzoom rect setter
  vispy/scene/cameras/panzoom.py
Labels: docs-website

#2320 Add GL_MIN/GL_MAX constants for glBlendEquation
  codegen/annotations.py
  codegen/createglapi.py
  codegen/headerparser.py
  codegen/headers/vispy_ext.h
  setup.cfg
  vispy/gloo/gl/_constants.py
  vispy/gloo/gl/_es2.py
  vispy/gloo/gl/_gl2.py
  vispy/gloo/gl/_proxy.py
  vispy/gloo/gl/_pyopengl2.py
  vispy/gloo/gl/tests/test_names.py
Labels: type: enhancement, component: gl

#2321 Fixed Typo in Nested Viewbox Name
  examples/scene/nested_viewbox.py
Labels: docs-website

#1999 ImageVisual support for complex-valued data.
  examples/scene/complex_image.py
  vispy/scene/visuals.py
  vispy/visuals/__init__.py
  vispy/visuals/_scalable_textures.py
  vispy/visuals/image.py
  vispy/visuals/image_complex.py
  vispy/visuals/tests/test_image_complex.py
Labels: type: enhancement, component: visuals

#1310 Allow depth in Texture2D.
  vispy/gloo/glir.py
  vispy/gloo/tests/test_texture.py
  vispy/gloo/texture.py
Labels: type: enhancement, component: gl, component: gloo

#2327 Reduce memory copies in LineVisual
  vispy/visuals/line/line.py
Labels: type: bug, code-quality, component: visuals, type: performance
