Repository vispy/vispy, pull requests merged in 2022-05, with the labels that each got.

#2328 Enable text depth testing
  vispy/visuals/tests/test_text.py
  vispy/visuals/text/text.py
Labels: type: bug, component: visuals

#2329 Fix clipping planes logic for `Volume` and `PlanesClipper`
  vispy/visuals/filters/clipping_planes.py
  vispy/visuals/volume.py
Labels: type: bug, component: visuals

#2332 Typo fix in docstring
  vispy/util/transforms.py
Labels: docs-website

#2322 Add shader interpolation methods for VolumeVisual
  examples/gloo/spatial_filters.py
  examples/scene/volume.py
  vispy/glsl/antialias/__init__.py
  vispy/glsl/arrowheads/__init__.py
  vispy/glsl/arrows/__init__.py
  vispy/glsl/build_spatial_filters.py
  vispy/glsl/collections/__init__.py
  vispy/glsl/colormaps/__init__.py
  vispy/glsl/lines/__init__.py
  vispy/glsl/markers/__init__.py
  vispy/glsl/math/__init__.py
  vispy/glsl/misc/__init__.py
  vispy/glsl/misc/spatial-filters.frag
  vispy/glsl/transforms/__init__.py
  vispy/io/_data/spatial-filters.npy
  vispy/io/datasets.py
  vispy/visuals/image.py
  vispy/visuals/text/text.py
  vispy/visuals/volume.py
Labels: type: enhancement, code-quality, component: visuals

#2334 Fix cibuildwheel failing on skipping old python versions
  .github/workflows/wheels.yml
Labels: build
