Repository vispy/vispy, pull requests merged in 2022-02, with the labels that each got.

#2289 Set depth buffer in Volume plane rendering
  vispy/visuals/tests/test_volume.py
  vispy/visuals/volume.py
Labels: type: bug, component: visuals

#2278 Add Linux AArch64 wheel build support
  .github/workflows/wheels.yml
Labels: build

#2293 Fix TypeError for membership test of KeyboardModifiers
  vispy/app/backends/_qt.py
Labels: type: bug, component: app, priority: high

#2296 Fix sphinx generation for new versions of numpydoc
  doc/conf.py
  vispy/io/stl.py
  vispy/scene/node.py
Labels: type: bug, build, docs-website

#2297 Optimize shader regular expression compilation
  vispy/gloo/program.py
Labels: type: enhancement, code-quality, component: gloo, type: performance
