Repository vispy/vispy, pull requests merged in 2023-07, with the labels that each got.

#2506 Fix spherical markers depth buffer with scaling='visual'
  vispy/visuals/markers.py
Labels: type: bug, component: visuals

#2500 Add primitive picking filters for Mesh and Markers visuals
  examples/scene/face_picking.py
  examples/scene/marker_picking.py
  vispy/visuals/filters/__init__.py
  vispy/visuals/filters/base_filter.py
  vispy/visuals/filters/markers.py
  vispy/visuals/filters/mesh.py
  vispy/visuals/filters/tests/test_primitive_picking_filters.py
  vispy/visuals/markers.py
Labels: type: enhancement, component: visuals

#2508 Cache make_pattern on DashAtlas
  vispy/visuals/line/dash_atlas.py
Labels: code-quality, component: visuals, type: performance
