Repository vispy/vispy, pull requests merged in 2023-04, with the labels that each got.

#2470 Switch MarkersVisual scaling option to string "fixed", "scene", or "visual"
  examples/basics/visuals/markers.py
  vispy/visuals/markers.py
Labels: type: enhancement, component: visuals

#2460 Instanced mesh example
  examples/scene/instanced_mesh.py
Labels: type: enhancement, type: example, docs-website

#2465 Add early-termination optimization to attenuated mip
  vispy/visuals/volume.py
Labels: type: enhancement, component: visuals, type: performance

#2461 Add `InstancedMeshVisual` for faster and easier rendering of repeated meshes
  examples/scene/instanced_mesh_visual.py
  vispy/gloo/texture.py
  vispy/scene/visuals.py
  vispy/visuals/__init__.py
  vispy/visuals/filters/__init__.py
  vispy/visuals/filters/mesh.py
  vispy/visuals/instanced_mesh.py
  vispy/visuals/tests/test_instanced_mesh.py
Labels: type: enhancement, component: visuals

#2371 Cleanup site navbar with pydata-sphinx-theme 0.10+
  doc/conf.py
Labels: docs-website
