Repository vispy/vispy, pull requests merged in 2023-12, with the labels that each got.

#2554 Fix SurfacePlotVisual not allowing 2D x and y inputs
  vispy/testing/image_tester.py
  vispy/visuals/surface_plot.py
  vispy/visuals/tests/test_surface_plot.py
Labels: type: bug, component: visuals

#2561 Radius of ellipse can now be specified as numpy.array
  vispy/visuals/ellipse.py
Labels: type: enhancement, component: visuals

#2533 Improve Markers symbols validation performance
  vispy/visuals/markers.py
Labels: component: visuals, type: performance

#2563 Fix typo in plot widget error message
  vispy/plot/plotwidget.py
Labels: docs-website

#2565 Correction to Vispy.Visuals.Markers.set_data
  vispy/visuals/markers.py
Labels: docs-website
