Repository vispy/vispy, pull requests merged in 2023-05, with the labels that each got.

#2456 Use QNativeEventGesture for touchpad gesture input
  vispy/app/backends/_qt.py
  vispy/scene/cameras/base_camera.py
  vispy/scene/cameras/panzoom.py
  vispy/scene/cameras/perspective.py
  vispy/scene/cameras/tests/test_perspective.py
  vispy/scene/canvas.py
  vispy/scene/events.py
  vispy/scene/node.py
Labels: type: enhancement, component: app

#2483 Fix TypeError with pinch-to-zoom
  vispy/app/backends/_qt.py
Labels: type: bug, component: app

#2485 Add lasso selection example
  examples/scene/lasso.py
Labels: type: example
